@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin display(
  $display: inherit,
  $flex-direction: inherit,
  $justify-content: inherit,
  $align-items: inherit,
  $gap: 0px,
  $margin: 0px
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  margin: $margin;
}

@mixin font(
  $family: "Montserrat",
  $weight: normal,
  $font-size: 1rem,
  $text-decoration: inherit,
  $text-transform: inherit,
  $letter-spacing: inherit,
  $line-height: 16px
) {
  font-family: $family;
  font-weight: $weight;
  font-size: $font-size;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}
